body {
padding: 0;
margin: 0;
}
img {
    max-width: 100%;
    display: block;
}
a {
    text-decoration: none;
    
}
li {
    list-style-type: none;
}

h1 {
    margin-left: 100px;
    font-family: 'Droid Serif', Times New Roman, serif;
    color:#403448;
    font-weight: 700;
    
}
h3  {
    margin: 40px;
    font-family: 'Droid Serif', Times New Roman, serif;
    color: #b71717;
    font-size:25px;
    font-weight: 200;
    display: block;
    flex-direction: row;
    height: 100px;
    line-height: 30px;
}
h4 {
    margin: 20px;
    color: black;
    font-size: 22px;
    font-style: italic;
    font-weight: 200;
    line-height: 15px;
    
}
/* Header Desktop */


.header--main{
    display: flex;
    width: 100%;
    height: 100px;
    justify-content: space-around;
    align-items: center;
    margin-top: 10px;
}
.header--main__title {

}


.header--main__search input[type=search]{
    padding: 5px;
    border-color: #593a6f;
    border-radius: 5px;
    border-style: solid;
    color: orange;
    height: 40px;
    width: 300px;
}
.header--main__shop {
    font-family: 'Droid Serif', Times New Roman, serif;
    font-size: 25px;
    font-style: italic;
    color: #b71717;
}
.header--main__bag {
    margin-top:20px;
    font-family: 'Oswald', Helvetica, Arial, sans-serif;
}



/* Nav Desktop, abaixo do header */
.navtop{
    background-color: #593a6f;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
.navtop--menu{
    display: flex;
    flex-wrap:wrap; 
    list-style-type: none;
    padding: 5px;
    
}
.navtop--li {
    margin-left:20px;
    
}.navtop--li a {
    display: block;
    padding: 5px;
    margin-left: 40px;
    color:white;
    
}
/* Main Potions usando o css flex */
.main--potion {
    display: flex;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: 0 auto;
}
.main--potion > div {
    flex: 1 1 200px;
    margin: 60px;
    text-align: center;
}




/* Footer */
footer {
    height: 300px;
    width: 100%;
    background-color:#e6e4e4;
        
}
.footer--main {
    width: 100%;
    display: flex;
    background-color: #e6e4e4;
    height: 100px;
    margin: 0;
}
.footer--links {
    width: 90%;
    display: flex;
    align-content: space-between;
    margin-left: 10px;
    
}
.footer--links > div {
    margin: 20px;
    
}



